.form-avatar__save-button {
    margin: 0;
    border: none;
    width: 358px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 0.5s;
  }
 
  .form-avatar__save-button:hover {
      opacity: 0.8;
  }
 
  .form-avatar__save-button_disabled {
    opacity: 0.25;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    pointer-events: none;
  }
 
  @media screen and (max-width: 767px) {
    .form-avatar__save-button {
      font-size: 14px;
      line-height: 17px;
      width: 238px;
      height: 46px;
    }
  }