.photo-card__heart-button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    background-image: url(../../../images/heart-button.svg);
    background-size: cover;
    width: 22px;
    height: 19px;
    cursor: pointer;
}

.photo-card__heart-button:hover {
    opacity: 0.5;
}

.photo-card__heart-button:active {
    opacity: 1;
    background-image: url(../../../images/Edit-Button-active.svg);
} 