.popup__close-button {
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    background-image: url(../../../images/Close_Icon.svg);
    background-size: cover;
    cursor: pointer;
    position: absolute;
    right: -40px;
    top: -40px;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 320px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        right: 0;
    }
}