.form-avatar__info {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin: 0;
    padding: 0 0 18px;
    width: 100%;
  }
 
  .form-avatar__info-field {
    display: flex;
    flex-direction: column;
  }
 
  @media screen and (max-width: 767px) {
    .form-avatar__info {
      padding: 0 0 15px;
    }
  }