.photo-card {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 282px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  justify-content: space-between;
  position: relative;
}

.photo-card__trash {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    width: 18px;
    height: 19px;
    background-image: url(../../images/trash.svg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    background-position: center;
    cursor: pointer;
    transition: opacity 0.5s;
  }
  
  .photo-card__trash:hover {
    opacity: 0.6;
  }